<h2>There are <span><%=@contact_list.count%></span> contacts</h2>
<%@contact_list.each do |contact|%>
	<span class = "contacts">
		<%= contact.full_name %> 
		(<%= contact.email%>)
		<span class = "options"><a href="/">Edit</a> | <a href="/">Delete</a></span>
	</span>
<%end%>