body{
	margin:0;
	font-family: 'roboto',sans-serif;
}
h1,ul,footer{
	color:white;
	margin:0px;
	padding-left:0px;
}
h1,footer{
	padding:8px 0px;
	text-align:center;
	background-color:black;
}

	
ul>li{
	margin:1px;
	padding:0.5em;
	list-style-type: none;
	text-align:center;
	background-color:#D3D3D3;
}

li>a{
	text-decoration:none;
	color:white;
}

h2{
	padding:0.5em 0 0.5em 0.5em;
	background-color:#EF8774;
	width:90%;
	margin:0.5em auto;
}
h2>span{
	text-decoration:underline;
	text-decoration-color:#67DDD0;
}
.contacts{
	display:block;
	width:90%;
	margin:0.5em auto;
	background-color:#67DDD0;
	padding: 1em 0 1em 1em;
	font-weight:bolder;
	font-size:20px;
}
.contacts > .options{
	display:block;

}
footer{
	width:100%;
	bottom:0px;
	position:absolute; 
	padding:1em 0;
}
